

:root {
  --background: rgba(0, 0, 0, 0.753);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: rgb(0, 0, 0);
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
}

.last h2{
text-align: center;
font-size: 1rem;
}

#section1 h2 {
    padding-bottom: 80%;
    color: white;
    font-size: 5rem;
    opacity: 80%;
    padding-top: 5%;
}
h1 {
  color: white;
}

.text-card a{
padding-left: 40%;
font-size: 2rem;
color: white;
}

.text-card p {
  text-align: center;
  
  color: white;
}


/* navigation styles start here */

header {
  background: black;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: black;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: rgb(158, 158, 158);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}



section{
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
  
  
}

section img {
  width: 20%;
}

section:nth-child(1){
  color: #fff;
  
}
.backround2 {
  color: #1D212B;
  background-image: url(images/backround2.jpg);
  background-color: rgb(39, 38, 38);
  background-blend-mode: multiply;
  background-size: cover;
}

.backround {
  color: #1D212B;
  background-image: url(images/interior\ 1.jpg);
  background-color: rgb(39, 38, 38);
  background-blend-mode: multiply;
  background-size: cover;
}


section:nth-child(3){
  color: rgb(66, 30, 30);
}

section:nth-child(4){
  color: #3b579c;
  background: #fff;
}

section .container{
  margin: 100px;
}

section h1{
  font-size: 60px;
  color: #fff;
}

section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

section .cards{
  display: flex;
}

section .cards .text-card{
  background: #000000bb;
  color: #fff;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.imager {
    padding-top: 10%;
    display: flex;
  justify-content: center;
} 



footer h2 {
    font-size: 3rem;
}

footer h3 {
    font-size: 1.4rem;
    width: 50%;
    text-align: center;
}

footer h4 {
    font-size: 1.4rem;
    width: 50%;
    text-align: center;
}
hr {
  margin: 0;
}
footer {
    
    color: #ffffff;
  background-image: url(images/backround1.jpg);
  background-color: rgb(12, 12, 12);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 10%;

}


.center {
    display: flex;
  justify-content: center;
}

footer p {
    width: 50%;
   
}

.grid {
    display:grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0;
      grid-row-gap: 20%;
  }


@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;
  }


  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
   /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }

 
}

@media screen and (max-width: 1000px) {
    h2 {
       font-size: 2rem;
       padding-bottom: 90%;
    }
    
   img {
     width: 100%;
   }

    #section1 h2{
        font-size: 2rem;
      }
    
      section .cards{
        flex-direction: column;
      }

      .imager {
        
       display: none;
    } 

    .last {
      display: none;
    }
      footer {
        height: fit-content;
        padding-bottom: 0;
    }

   
    footer h2 {
        font-size: 1.5rem;
        padding: 0;
    }
    
    footer h3 {
        font-size: 1rem;
        width: 90%;
        padding-bottom: 10%;
    }

    footer h4 {
        font-size: 1rem;
        width: 90%;
        padding-bottom: 30%;
    }
    section{
        height: auto;
        
        background-image: url(images/interior\ 1.jpg);
        background-color: rgb(39, 38, 38);
        background-blend-mode: multiply;
        background-size: cover;
        
      }

     section h2 {
      padding-bottom: 10%;
      
     }

      section p {
          width: 90%
      }

      section .cards .text-card a{
        background: #000000bb;
        color: #fff;
       margin: 20px;
       padding: 0%;
      }
      section .cards .text-card {
       text-align: center;
      }
      
      .reveal{
        position: relative;
        transform: translateY(0px);
        opacity: 1;
        transition: all 0s ease;
      }
      
      .reveal.active{
        transform: translateY(0px);
        opacity: 1;
      }
      

    }

  